* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    min-height: 450px;
    margin: auto;
    transition: ease all  1s;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 10px;
    
}

.nested-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: 12%;
}
/*link stuff*/
li {
    list-style: none;
}

a:visited, a:link {
    color: black;
    text-decoration: none;
}

.contact-link {
    display: inline;
    padding: 10px;
}

/*font-sizes*/
p, 
button,
li {
    font-size: 16px;
    line-height: 24px;
}

button {
    display: inline-block;
    background: none;
	border: none;
	padding: 0;
    align-self: center;
}

.title {
    font-size: 50px;
    margin: 10px;
    letter-spacing: 7px;
}

p {
    width: auto;
    align-self: center;
}

.info {
    width: 250px;
}

.project-title {
    margin: 0;
    font-size: 18px;
}

.content-container {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 700px;
    margin-top: 16px;
}

#project {
    flex-direction: row;
}

.project-info {
    padding-left: 10px;
}


.screen-shots {
    display: none;
}

.show {
    display: block;
    width: 125px;
    height: 200px;
}

.icon {
    width: 20px;
}

.contacts {
    align-self: center;
    padding: 0;
}


/*add media query that adds margins to the left and right of content-container*/

@media only screen and (min-width: 718px) {
    section {
        width: 80vw;
    }

    .show {
        width: 200px;
        height: 320px;
    }
}